@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&family=Roboto:wght@300&display=swap');
*{
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}
body{
    background-color: #08233a1f;
}
.container{
    width: 90%;
    margin: auto;
    padding-top: 100px;
    display: flex;
}
.left-content,.right-content{
    flex-basis: 50%;
}
.left-content{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(200px,0.5fr));
    grid-gap:2rem;
}
.card{
    width: 180px;
    background-color:#7c6e7c44;
    border-radius: 1rem;
    box-shadow: 0 5px 5px rgba(94, 111, 119, 0.39);
    padding: 0 1.5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    cursor: pointer;
}
.right-content{
    width: 50%;
    text-align: center;
    color: rgb(75, 75, 75);
    position: fixed;
    top:100px;
    right: 10px;
    border-radius: 1rem;
    box-shadow: 0 5px 5px rgba(94, 111, 119, 0.39);
}
.right-content img{
    margin: 1.5rem;
    height: 160px;
}
.right-content h1{
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 1px;
}
.abilities{
    width: 70%;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
}
.abilities .group{
    background-color: #403944be;
    color: rgba(214, 200, 200, 0.966);
    padding: 0.5rem;
    font-size: 12px;
    border-radius: 8px;
    margin-left: 1rem;
    border-radius: 1rem;
    box-shadow: 0 5px 5px rgba(94, 111, 119, 0.39);
}
.base-stat{
    margin-top: 2rem;
}
.btn-group{
    display: flex;
}
.btn-group button{
    outline: none;
    border: none;
    width: 150px;
    padding: 0.3rem 0;
    margin: 1rem;
    font-size: 17px;
    font-weight: bold;
    color: rgba(214, 200, 200, 0.966);
    background-color: #403944be;
    border-radius: 8px;
    cursor: pointer;
    border-radius: 1rem;
    box-shadow: 0 5px 5px rgba(94, 111, 119, 0.39);
}